body {
  margin: 0;
  padding: 0;
}

.hahow-orange {
  color: #fa8b00;
}

.hahow-dark-orange {
  color: rgb(238, 100, 87);
}

a:hover {
  color: #cc7000;
}

.bg-light-gray {
  background: rgb(249, 249, 249);
}

.bg-gray {
  background-color: rgb(243, 243, 241);
}

.bg-darkgray {
  background-color: rgb(234, 234, 234);
}

.btn-circle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.bg-hahow-green {
  background: rgb(46, 225, 179);
  color: white;
}

.bg-hahow-green:hover {
  color: white;
}

.bg-hahow-dark-orange {
  background: rgb(250, 139, 0);
}

.bg-hahow-orange {
  background: rgb(243, 208, 174);
  color: white;
}

.bg-hahow-orange:hover {
  color: white;
}

.progress {
  height: 4px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

#progress-bar,
.btn {
  transition: 0s;
}

.text-mc {
  font-family: Microsoft JhengHei;
}

.btn-hahow-green {
  background-color: rgb(0, 190, 164);
  color: white;
}

.btn-hahow-green:hover {
  background-color: rgb(0, 143, 124);
  color: white;
}

.bg-hahow-light-green {
  background-color: rgba(0, 190, 165, 0.11);
  width: 40px;
  height: 40px;
}

.center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.line-height {
  line-height: 30px;
}

.fs-5 {
  font-size: 14px;
}

.form-control::placeholder {
  opacity: 0.5;
}

#cardImg {
  width: 100%;
}

.card-bottom {
  width: 100%;
  height: 6px;
}

.backgroundPhoto {
  width: 58px;
  height: 58px;
  transform: translate(10%, -50%);
  z-index: 1;
}

.backgroundTape {
  font-size: 14px;
  width: 50%;
  height: 25px;
  line-height: 25px;
  right: -15%;
  top: 20px;
  transform: rotate(45deg);
}

.bg-tape-yellow {
  background: rgb(255, 238, 88);
}

#photoImag {
  width: 55px;
  height: 55px;
}

.h-30 {
  height: 10px;
}
.h-50 {
  width: 50px;
  height: 500px;
}

.btn-outline-secondary:hover {
  background-color: #fff;
  color: rgb(0, 190, 164);
}

.btn-outline-orange:hover {
  background-color: #fff;
  color: #fa8b00;
}

.custom-file-label::after {
  display: none;
}
.custom-file-label {
    z-index: 5;
}

.custom-file-label:hover{
    cursor: pointer;
    color: #fa8b00;
}

.fa-none{
    visibility: hidden;
}

.fs-2{
    font-size:20px
}

.btn-sm-circle{
  width: 20px;
  height: 20px;
}

.line-height-20{
  line-height: 20px
}