* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.col-4 {
  width: 100px;
  height: 100px;
}

.mycanvas,
.newpohoto {
  display: none;
}

.newpohoto {
  width: 300px;
  height: 40px;
  line-height: 40px;
  margin: auto;
  background-color: cornflowerblue;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
