*{
    margin: 0;
    padding: 0;
}
.wrap {
    width: 1200px;
    background-color: rgba(250,250,250,0.5);
    margin: auto;
    display:flex;
}
.box{
    width: 100%;
    margin: 0 15px 10px;
}
.box img{
    width: 100%;
    display: block;
}
.food{
    position: relative;
}
.food::before{
    cursor:pointer;
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0px;
    line-height: 40px;
    content: "加入購物車";
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    color: white;
    visibility: hidden;
}
.food:hover::before{
    visibility:visible;
}
.food :hover{
    cursor:pointer;
}
span{
    font-size: 14px;
    font-family: 微軟正黑體;
    color: rgba(0,0,0,0.6);
}
p.discount{
    text-decoration: line-through;
}
p{
    margin: 3px;
}