body {
  background-color: rgb(243, 243, 241);
}

.change-btn-checked {
  background-color: rgb(243, 243, 241);
  color: rgb(250, 139, 0);
  border: 0px solid;
  border-bottom: 5px solid rgb(250, 139, 0);
}

.change-btn {
  background-color: rgb(243, 243, 241);
  color: #777;
  border: 0px solid;
}

.check-b:hover .change-btn {
  color: rgb(250, 139, 0);
}

.text-black-20 {
  color: #ccc;
}

.btn-tape {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
