.intro-box .intro-index:nth-child(odd) .about{
    transition: 1.2s;
    position: relative;
    left: -150px;
    opacity: 0;
}
.intro-box .intro-index:nth-child(odd):hover .about{
    opacity: 1;
    left: 0;
}

.intro-box .intro-index:nth-child(odd) .back-box{
    transition: 1.2s;
    position: relative;
    right: -150px;
    opacity: 0;
}
.intro-box .intro-index:nth-child(odd):hover .back-box{
    opacity: 1;
    right: 0;
}

.intro-box .intro-index:nth-child(odd) .photo{
    transition: 1.2s;
    top: -300px;
    opacity: 0;
}
.intro-box .intro-index:nth-child(odd):hover .photo{
    opacity: 1;
    top: 0;
}

.intro-index:nth-child(odd) .photo::after{
    right: -5px;
    transition: 1.2s;
    top: 600px;
}
.intro-box .intro-index:nth-child(odd):hover .photo::after{
    right: -5px;
    top: 0;
}

.intro-box .intro-index:nth-child(odd) .content{
    transition: 1.2s;
    position: relative;
    bottom: -150px;
    opacity: 0;
}
.intro-box .intro-index:nth-child(odd):hover .content{
    opacity: 1;
    bottom: 0;
}

.intro-box .intro-index:nth-child(even) .about{
    transition: 1.2s;
    position: relative;
    right: -150px;
    opacity: 0;
}
.intro-box .intro-index:nth-child(even):hover .about{
    opacity: 1;
    right: 0;
}
.intro-box .intro-index:nth-child(even) .back-box{
    transition: 1.2s;
    opacity: 0;
    right: 0;
}
.intro-box .intro-index:nth-child(even):hover .back-box{
    opacity: 1;
    right: -400px;
}
.intro-box .intro-index:nth-child(even) .photo{
    transition: 1.2s;
    top: -150px;
    opacity: 0;
}
.intro-box .intro-index:nth-child(even):hover .photo{
    opacity: 1;
    top: 15%;
}

.intro-index:nth-child(even) .photo::after{
    left: -5px;
    transition: 1.2s;
    top: 600px;
}
.intro-box .intro-index:nth-child(even):hover .photo::after{
    left: -5px;
    top: 0;
}

.intro-box .intro-index:nth-child(even) .content{
    transition: 1.2s;
    position: relative;
    bottom: -150px;
    opacity: 0;
}
.intro-box .intro-index:nth-child(even):hover .content{
    opacity: 1;
    bottom: 10px;
}