body {
  background-color: rgb(243, 243, 241);
}

.hahow-green {
  color: rgb(0, 190, 164);
}

.center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.photoImg {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.photo-Img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
